@use '../abstracts/abstracts' as abstracts;

   
    .ulheader {/* contenedor padre de los li  */
        @include abstracts.flexbox(row){
            justify-content: space-evenly;
            margin-top: 4.5%;
        }
        .logo {
            margin-left: -14.5%;
            
        }
        a {
            list-style: none;
            color: black;
            text-decoration: none;
            font-size: abstracts.$font_size;
          
        }
    }
   
/* ---------------------------------------- */
.navi_right {
    margin-left: 20%;
    .ul_derecho {
        @include abstracts.flexbox(row){
            justify-content: center;
            gap:10%;
            font-size: abstracts.$font_size;
            margin-top: 7.5%;
            position: relative;

        }
        .singin {
            padding: 2% 6%;
            background: abstracts.$color_rojo;
            color:white;
            margin-top: -2%;
        }
        .singup{
            color: white;
        }
    }

}
            
    
