@use '../abstracts/abstracts' as abstracts;


h1 {
    margin-top: 13.38%;
    font-family: abstracts.$font_belgrano;
    font-size: 3.7rem;
}

.p_main {
    color:abstracts.$letra_gris;
}
.explore {
    background: abstracts.$color_rojo;
    color:white;
    padding: 1.33% 6.69%;
    text-decoration: none;
    font-size:10px;
    
}
    
.learn {
    @extend .explore;
    background: none;
    color:black;
    text-decoration: underline;
}

.learn::after {
    display: inline-block;
    margin-left: 1.33%;
    vertical-align: middle;
    content: url(img/Arrow.svg);
}